@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	--primary: #631d76;
	--secondary: #9e4770;
	--white: #fefeff;
	--dark: #2e2532;
	--black: #201a23;
	font-family: 'Rubik', sans-serif;
}
/** FOOTER  */
footer {
	max-width: 1140px;
	width: 100%;
	height: 2rem;
	border-top: 2px solid #eeeeee;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
footer p {
	letter-spacing: 2px;
}
/** HEADER  */
header.header__container {
	padding: 0 10%;
	background-color: var(--primary);
	position: sticky;
	top: 0;

	z-index: 5;
}
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	font-size: 1.2rem;
	letter-spacing: 1px;

	color: var(--white);
	padding: 1.5% 0;
}

.nav__right {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.nav__right .user__checkout {
	margin-left: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.user__checkout .cart i {
	margin-left: 0.5rem;
	color: rgb(226, 210, 69);
}
/*  counter  */
.user__checkout .cart {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.user__checkout .cart span {
	font-display: 0.6rem;
	color: var(--white);
	position: absolute;
	top: -7px;
	right: -7px;
	width: 18px;
	height: 18px;
	background-color: var(--primary);
	border-radius: 50%;
}

a {
	color: var(--white);
	text-decoration: none;
	cursor: pointer;
}

/** MAIN BODY LAYOUT  */
.body__wrapper {
	max-width: 1140px;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

main.main {
	width: 100%;
	min-height: 100vh;
	background-color: var(--white);
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}
h1 {
	margin: 3% 0;
}

.items__container {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 100%;
	flex-wrap: wrap;
	flex: 1 1 auto;
}
.item__card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 5%;
}
.item__info {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 4% 0;
}
button.order,
.cart__buttons button {
	padding: 1.2rem 2rem;
	border-radius: 5%;
	text-transform: uppercase;
	display: inline-block;
	text-decoration: none;
	position: relative;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	background-color: wheat;

	letter-spacing: 1px;
	border: none;
	cursor: pointer;
	outline: none;
}

button.order:hover,
.cart__buttons button:hover {
	transform: scale(1.15);
}

button.order:focus,
button.order:active,
.cart__buttons button:hover,
.cart__buttons button:active {
	background-color: rgb(245, 238, 225);
	border: none;
	outline: none;
}
button > i {
	pointer-events: none;
}
/** ORDER HISTORY  */
.history__container {
	width: 100%;
	height: 100%;
	padding: 1% 3%;
	margin-top: 3%;
}
.history__inner {
	width: 100%;
	height: 100%;
	padding: 0 10%;
	display: flex;
	flex-direction: column;
	place-content: center;
}
.history__order {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1% 3%;
	margin: 0.5% auto;
}
.history__order__item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 2% 0;
}
.history__order__item p {
	margin-top: 10%;
	text-align: center;
}
.history__order__total h4 {
	letter-spacing: 1px;
	color: var(--dark);
	text-align: right;
	border-top: 1px solid var(--dark);
	padding-top: 1%;
}

/*** CHECKOUT ****  */
.checkout__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 1% 3%;
	margin-top: 3%;
}

.user__info {
	width: 100%;
	height: 100%;
	align-self: baseline;
}
.user__info__details {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.user__info__details h3 {
	margin-bottom: 3%;
	width: 100%;
	text-align: left;
}
.user__info__details .info {
	margin: 3% auto;
	width: 100%;
}
.user__info__details input {
	width: 80%;
	height: 2.5rem;
	outline: none;
}
.user__info__details label {
	display: block;
	margin-bottom: 1%;
}

.checkout {
	width: 100%;
	height: 100%;
	align-self: baseline;
}
.checkout__inner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.checkout__card {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: 1% 3%;
	margin: 3% auto;
}

.cart__item,
.cart__price,
.cart__qty,
.cart__subtotal {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.cart__item p,
.cart__price p,
.cart__subtotal p,
.cart__qty p,
.cart__qty button {
	/* font-size: 1.2rem; */
	text-align: center;
	margin-top: 10%;
}
.cart__qty .qty {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.total {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 10vh;
}
.cart__total {
	background-color: rgb(199, 199, 199);
	height: 100%;
	flex: 1 1 20%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.cart__total h4 {
	letter-spacing: 1px;
	color: var(--dark);
}
.cart__buttons {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: rgb(199, 199, 199);
	flex: 1 1 auto;
}

.cart__buy a,
.cart__update a {
	display: inline-block;
	/* height: 2rem;
	width: 7rem; */
	color: var(--dark);
	letter-spacing: 1px;
	font-weight: bold;
	text-align: center;
}
